{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/name-change/router2" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="pets-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                How many pets do you have?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pets" name="pets" type="radio" value="1">
                <label class="govuk-label govuk-radios__label" for="pets">
                  One
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pets-2" name="pets" type="radio" value="2">
                <label class="govuk-label govuk-radios__label" for="pets-2">
                  Two
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pets-3" name="pets" type="radio" value="3">
                <label class="govuk-label govuk-radios__label" for="pets-3">
                  Three
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pets-4" name="pets" type="radio" value="more than 3">
                <label class="govuk-label govuk-radios__label" for="pets-4">
                  More than three
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
